/*Index page HTML*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}

.menu img {

    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;

}

.left-side-menu {
    display: flex;
    gap: 50px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

.right-side-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-avatar img {
    border-radius: 50px;
    width: 40px;
}

.line {
    height: 1;
    background-color: #ddd;
    width: 90%;
    align-self: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items {
    align-self: flex-end;
}

.select-image {
    max-width: 400px;
}

.select-image img {
    width: 100%;
    border-radius: 10px;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 10px;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side h6 {
    color: #004853
}

.right-side p {
    color: hsl(219, 9%, 45%);
    font-size: 14px;
}

.prices {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.off {
    font-size: 12px;
    color: #ccc;
}

.options {
    display: flex;
    gap: 20px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: hsl(223, 64%, 98%);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
}

.amount span {
    font-weight: 700;
    font-size: 12px;
}

.minus,
.plus {
    cursor: pointer;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #028d7c;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
}

.button img {
    width: 14px;
}


/*Successful page HTML*/